@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #f06b32;
  color:rgb(0, 0, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: 'DM Sans';
}

header {
  width: 95%;
  max-width: 788px;
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.delon-share-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color:white;
}

.delon-share-button svg {
  margin-left: 12px;
  margin-top: 10px;
}

.delon-container {
  width: 91%;
  max-width: 680px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delon-image-container {
  max-width: 100%;
}

.delon-image-container img {
  max-width: 100%;;
}

h1 {
  font-size: 20px;
  color:rgb(255, 255, 255);
  font-weight: bold;
}

h2 {
  font-size: 16px;
  margin-bottom: 30px;
  color:rgb(255, 255, 255);
  font-weight: bolder;
}


a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.delon-tile {
  text-align: center;
  padding: 0px 4px;
  height: 56px;
  width: 676px;
  background-color: #f06b32;
  font-weight: 500;
  margin: 7px;
  border-radius: 50px;
  border-color: white;
  border-style: solid;
  display: flex;  
  justify-content:space-between;
  align-items: center;
}

.delon-tile:hover {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  color: orange;
  background-color: white;
}

.delon-tile-share-button {
  margin: 0px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color:#f06b32;
}

.delon-tile-share-button:hover {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  color: orange;
  background-color: #e5e5e5
}

.delon-tile-share-button svg {
  margin-right: 0px;
  margin-top: 13px;

}

.delon-image-container {
  height: 96px;
  width: 96px;
  border-radius: 48px;
  overflow: hidden;  
}

.delon-image-container img {
   height: 100%;
   object-fit:cover;
}

.delon-icon img {
  width: 46px;
  border-radius: 70%;
  height: 46px;
  object-fit:cover;
}